<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add name="CarDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EF_CodeFirstApproach.CarDbContext;
    integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</configuration>